<%- contentFor('css') %>

<link rel="stylesheet" href="/stylesheets/plugins/flexslider.css" type="text/css" media="screen">
<link rel="stylesheet" href="/stylesheets/plugins/plugins.css" type="text/css" media="screen">


<%- contentFor('breadcrumbs') %>

<h1 class="pull-left">Contenções e Arrimos Especiais</h1>
<ul class="pull-right breadcrumb">
    <li><a href="/index">Home</a></li>

    <li class="active">Contenções e Arrimos Especiais</li>
</ul>

<%- contentFor('contentpart') %>

<!--=== Content Part ===-->
<div class="container content">
    <!--=== About Me Img ===-->
    <div class="container content">
        <div class="row about-me margin-bottom-40">
            <div class="col-md-5 shadow-wrapper md-margin-bottom-20">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive" src="/img/pages/contencao001.jpg" alt="">
                </div>
                <br>
                <br>
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive" src="/img/pages/contencao002.jpg" alt="">
                </div>
                <br>
                <br>
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive" src="/img/pages/contencao003.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Solo Grampeado</h2>
                        <span>O que é?</span>
                    </div>
                </div>
                <p>O solo grampeado é uma técnica de contenção muito utilizada e econômica. Ele funciona como um reforço de solo através da
                    instalação de chumbadores e um paramento, normalmente executado com telas e concreto projetado.</p>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i> Baixo Custo</li>
                    <li><i class="color-green fa fa-check"></i> Rápida Execução</li>
                    <li><i class="color-green fa fa-check"></i> Limitações de altura, e inclinação do talude</li>
                </ul>
                <p>
                    Quando é possível se utilizar esta técnica de contenção ela é muito interessante, principalmente por ser rápida e econômica.
                    Não é tão robusta quanto uma cortina ou um muro de flexão, portanto sofre algumas limitações para seu uso.
                </p>
                <br>
                <br>
                <br>

                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Cortina Atirantada</h2>
                        <span>O que é?</span>
                    </div>
                </div>
                <p>A cortina atirantada é uma solução muito robusta utilizada em diversas situações. Ela é realizada com a instalação de tirantes
                    que são protendidos em um paramento de concreto armado. .</p>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i> Versatilidade</li>
                    <li><i class="color-green fa fa-check"></i> Robustez</li>
                    <li><i class="color-green fa fa-check"></i> Custo mais elevado</li>
                </ul>
                <p>
                    Esta é uma solução muito interessante para cortes com grandes desníveis, com inclinações acentuadas e execução de subsolos de edifícios.
                </p>
                <br>
                <br>
                <br>

                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Muro de Flexão</h2>
                        <span>O que é?</span>
                    </div>
                </div>
                <p>O muro de flexão é uma solução muito utilizada para alturas intermediárias. Pode ser uma alternativa interessante
                principalmente em aterros. Caso o desnível seja grande seu custo aumenta muito tornando-se inviável.</p>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i> Praticidade</li>
                    <li><i class="color-green fa fa-check"></i> Ótimo para aterros</li>
                    <li><i class="color-green fa fa-check"></i> Inviável caso seja muito alto</li>
                </ul>
                <p>
                    Esta solução é ideal para pequenos e médios aterros. A obra é rápida e a solução muito robusta.
                </p>
                <br>
                <br>
                <br>

                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Precisa de um orçamento?</h2>
                        <span>Fale com nossos engenheiros!</span>
                    </div>
                </div>
                <p>Mande um e-mail para nós, ou entre em contato <a href="/contato">aqui</a>. Nós ficaremos felizes em te ajudar a encontrar a melhor solução para sua contenção.</p>

            </div>
        </div>
    </div>
    <!--=== End About Me Img ===-->

    <hr class="margin-bottom-20">

    <!-- Info Blcoks -->
    <!--<div class="row">-->
        <!--<h1 class="margin-bottom-40">Nossos Serviços:</h1>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-sm-4 info-blocks">-->
            <!--<i class="icon-info-blocks fa fa-clock-o"></i>-->
            <!--<div class="info-blocks-in">-->
                <!--<h3>Prazo</h3>-->
                <!--<p>Elaboramos seus quadros com os melhores prazos de entrega!</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 info-blocks">-->
            <!--<i class="icon-info-blocks fa fa-check"></i>-->
            <!--<div class="info-blocks-in">-->
                <!--<h3>Qualidade</h3>-->
                <!--<p>Quadros feitos com atenção aos detalhes! Reduza as dores de cabeça na hora de registrar sua incorporação.</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 info-blocks">-->
            <!--<i class="icon-info-blocks fa fa-dollar"></i>-->
            <!--<div class="info-blocks-in">-->
                <!--<h3>Preços</h3>-->
                <!--<p>Temos os melhores preços para atender as suas necessidades.</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; End Info Blcoks &ndash;&gt;-->

    <!--&lt;!&ndash; Info Blcoks &ndash;&gt;-->
    <!--<div class="row">-->
        <!--<div class="col-sm-4 info-blocks">-->
            <!--<i class="icon-info-blocks fa fa-users"></i>-->
            <!--<div class="info-blocks-in">-->
                <!--<h3>Equipe Qualificada</h3>-->
                <!--<p>Nossos profissionais entendem profundamente de incorporação. Sabemos quais são suas necessidades e estamos prontos-->
                <!--para te orientar!</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 info-blocks">-->
            <!--<i class="icon-info-blocks fa fa-thumbs-o-up"></i>-->
            <!--<div class="info-blocks-in">-->
                <!--<h3>Satisfação do Cliente</h3>-->
                <!--<p>Nosso foco é a total satisfação do cliente com nossos serviços. Por isso estamos sempre inovando para melhorar.</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-4 info-blocks">-->
            <!--<i class="icon-info-blocks fa fa-comments-o"></i>-->
            <!--<div class="info-blocks-in">-->
                <!--<h3>Suporte Integral</h3>-->
                <!--<p>Está com algum problema nos seus quadros? Estamos prontamente disponíveis para te atender. Sem enrolação!</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; End Info Blcoks &ndash;&gt;-->


    <!--<hr class="margin-bottom-20">-->

    <!--&lt;!&ndash;Testimonials and Info&ndash;&gt;-->
    <!--<div class="row">-->
        <!--<h1 class="margin-bottom-40">Depoimentos de Clientes:</h1>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<div class="col-md-5">-->
            <!--<div class="carousel slide testimonials testimonials-v1" id="testimonials-1">-->
                <!--<div class="carousel-inner">-->
                    <!--<div class="item active">-->
                        <!--<p>"Contratei os serviços da MShin para elaborar os quadros da NBR 12.721 de meu condominio, fui muito bem-->
                            <!--atendido e com rapidez. O registro de imóveis conferiu e deu tudo certo"</p>-->
                        <!--<div class="testimonial-info">-->
                            <!--<img class="rounded-x" src="/img/testimonials/aparecido.jpg" alt="">-->
                                <!--<span class="testimonial-author">-->
                                    <!--Aparecido Freire-->
                                    <!--<em>Proprietário, Rede New Imóveis</em>-->
                                <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<p>"Comecei a fazer os quadros da NBR 12.721 com a MShin e agora só faço com eles. O preço é ótimo, entregam rápido-->
                            <!--e a qualidade do serviço e do atendimento é excelente."</p>-->
                        <!--<div class="testimonial-info">-->
                            <!--<img class="rounded-x" src="/img/testimonials/renato.jpg" alt="">-->
                                <!--<span class="testimonial-author">-->
                                    <!--Renato Gebaile Bianchi-->
                                    <!--<em>Proprietário, GB Realizações Imobiliárias</em>-->
                                <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<p> "Os serviços contratados junto a  Maschio Shin Construtora para orientação e elaboração do nosso projeto e os-->
                            <!--quadros da NBR 12.721, foram rápidos, bem elaborados e com um valor justo, atendendo totalmente nossas expectativas."</p>-->
                        <!--<div class="testimonial-info">-->
                            <!--<img class="rounded-x" src="/img/testimonials/user.jpg" alt="">-->
                                <!--<span class="testimonial-author">-->
                                    <!--Wlademir Carmona-->
                                    <!--<em>Diretor, Monte Alegre Paraíso Empreendimentos Imobiliários Ltda</em>-->
                                <!--</span>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->

                <!--<div class="carousel-arrow">-->
                    <!--<a data-slide="prev" href="#testimonials-1" class="left carousel-control">-->
                        <!--<i class="fa fa-angle-left"></i>-->
                    <!--</a>-->
                    <!--<a data-slide="next" href="#testimonials-1" class="right carousel-control">-->
                        <!--<i class="fa fa-angle-right"></i>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-7">-->
            <!--&lt;!&ndash;&lt;!&ndash; Bordered Funny Boxes &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="funny-boxes funny-boxes-top-sea">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-md-4 funny-boxes-img">&ndash;&gt;-->
                        <!--&lt;!&ndash;<img alt="" src="/img/new/img10.jpg" class="img-responsive">&ndash;&gt;-->
                        <!--&lt;!&ndash;<ul class="list-unstyled">&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><i class="fa fa-briefcase"></i> Dell, Google</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><i class="fa fa-map-marker"></i> New York, US</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-md-8">&ndash;&gt;-->
                        <!--&lt;!&ndash;<h2><a href="#">Turquoise Bordered Box</a></h2>&ndash;&gt;-->
                        <!--&lt;!&ndash;<ul class="list-unstyled funny-boxes-rating">&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><i class="fa fa-star"></i></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><i class="fa fa-star"></i></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><i class="fa fa-star"></i></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><i class="fa fa-star"></i></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><i class="fa fa-star"></i></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                        <!--&lt;!&ndash;<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; End Bordered Funny Boxes &ndash;&gt;&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;End Testimonials and Info&ndash;&gt;-->

    <!--&lt;!&ndash; Our Clients &ndash;&gt;-->
    <!--<div id="clients-flexslider" class="flexslider home clients">-->
        <!--<div class="headline"><h2>Nossos Clientes:</h2></div>-->
        <!--<ul class="slides">-->
            <!--<li>-->
                <!--<a href="http://www.redenewimoveis.com.br/">-->
                    <!--<img src="/img/clients/redeNewPb.jpg" alt="" />-->
                    <!--<img src="/img/clients/redeNewCor.jpg" class="color-img" alt="" />-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="http://www.gbrealizacoes.com.br/">-->
                    <!--<img src="/img/clients/gbPb.jpg" alt="" />-->
                    <!--<img src="/img/clients/gbCor.jpg" class="color-img" alt="" />-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                    <!--<img src="/img/clients/monteAlegrePb.jpg" alt="" />-->
                    <!--<img src="/img/clients/monteAlegreCor.jpg" class="color-img" alt="" />-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>&lt;!&ndash;/flexslider&ndash;&gt;-->
    <!--&lt;!&ndash; End Our Clients &ndash;&gt;-->
</div><!--/container-->
<!--=== End Content Part ===-->


<%- contentFor('javascript') %>
<script type="text/javascript" src="/js/plugins/jquery.flexslider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>