<%- contentFor('page')%>
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Maschio Shin Construtora e Incorporadora</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site da Construtora e Incorporadora Maschio Shin. Construção, incorporação e serviços ligados à construção civil em geral.">
    <meta name="author" content="Sinuhe Shin">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/plugins/parallax-slider/css/parallax-slider.css">
    <link rel="stylesheet" href="/plugins/flexslider/flexslider.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="/stylesheets/theme-colors/blue.css">

</head>	

<body>
<div class="wrapper">
    <!--=== Header ===-->    
    <div class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <!-- Topbar Navigation -->
                <ul class="loginbar pull-right">
                    <li>
                        <i class="fa fa-globe"></i>
                        <a>Idiomas</a>
                        <ul class="Idiomas">
                            <li class="active">
                                <a href="#">Português <i class="fa fa-check"></i></a>
                            </li>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Español</a></li>
                            <!--<li><a href="#">German</a></li>-->
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>   
                    <li><a href="/faq">Ajuda</a></li>
                    <li class="topbar-devider"></li>   
                    <li><a href="/login">Login</a></li>
                </ul>
                <!-- End Topbar Navigation -->
            </div>
        </div>
        <!-- End Topbar -->
    
        <!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="/index">
                        <img id="logo-header" src="/img/logo.png" alt="Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li class="active">
                            <a href="/index" class="" data-toggle="">
                                Home
                            </a>

                        </li>
                        <!-- End Home -->

                        <!-- Empreendimentos -->
                        <li class="">
                            <a href="/empreendimentos" class="" data-toggle="">
                                Empreendimentos
                            </a>

                        </li>
                        <!-- Empreendimentos -->

                        <!-- Construtora -->
                        <li class="">
                            <a href="/construtora" class="" data-toggle="">
                                Construtora
                            </a>

                        </li>
                        <!-- Construtora -->

                        <!-- Pages -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Serviços
                            </a>
                            <ul class="dropdown-menu">

                                <!-- Quadros NBR 12.721 -->
                                <li class="dropdown-submenu">
                                    <li><a href="/nbr12721">Quadros NBR 12.721</a></li>
                                <!-- Quadros NBR 12.721 -->
                                <li class="dropdown-submenu">
                                <li><a href="/contencoes">Contenções e Arrimos</a></li>

                                <!-- End About Pages -->
                            </ul>
                        </li>
                        <!-- End Pages -->

                        <!-- Pages -->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Informações
                            </a>
                            <ul class="dropdown-menu">

                                <!-- Quadros NBR 12.721 -->
                                <li class="dropdown-submenu">
                                <li><a href="/itbieregistro">Cáculo do ITBI e Registro</a></li>
                                <!-- Quadros NBR 12.721 -->

                                <!-- End About Pages -->
                            </ul>
                        </li>
                        <!-- End Pages -->


                        <!-- Contato -->
                        <li class="">
                            <a href="/contato" class="" data-toggle="">
                                Contato
                            </a>

                        </li>                    


                        <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="button">Go</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <!-- End Search Block -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->    

    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2><i>INCORPORADORAss</i> <br /> <i>MODERNA</i> <br /> <i>VOLTADA PARA O FUTURO</i></h2>
                <p><i>Soluções tecnológicas</i> <br /> <i>para atender um mercado</i> <br /> <i>dinâmico </i></p>
                <!--<div class="da-img"><img class="img-responsive" src="plugins/parallax-slider/img/1.png" alt=""></div>-->
            </div>
            <div class="da-slide">
                <h2><i>CONSTRUTORA</i> <br /> <i>DE SOLIDEZ</i> <br /> <i>E CONFIANÇA</i></h2>
                <p><i>Novos métodos construtivos</i> <br /> <i>para construir com qualidade</i></p>
                <!--<div class="da-img">-->
                    <!--<iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
                <!--</div>-->
            </div>
            <div class="da-slide">
                <h2><i>RESPEITO AO</i> <br /> <i>MEIO AMBIENTE</i> <br /> <i>E À SOCIEDADE</i></h2>
                <p><i>Redução de resíduos</i> <br /> <i>soluções ecológicas</i> <br /> <i>e investimento social </i></p>
                <!--<div class="da-img"><img src="plugins/parallax-slider/img/html5andcss3.png" alt="image01" /></div>-->
            </div>
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>        
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->

    <!--=== Purchase Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>A MShin está sempre buscando melhorar para surpreender você  </span>
                    <p>Estamos constantemente nos qualificando para aperfeiçoar nossos serviços. Valorizamos as pessoas, investimos em treinamento e capacitação para oferecer sempre o melhor serviço.</p>
                </div>            
                <!--<div class="col-md-3 btn-buy animated fadeInRight">-->
                    <!--<a href="#" class="btn-u btn-u-lg"><i class="fa fa-cloud-download"></i> Download Now</a>-->
                <!--</div>-->
            </div>
        </div>
    </div><!--/row-->
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->
    <div class="container content">	
    	<!-- Service Blocks -->
    	<div class="row margin-bottom-30">
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-building service-icon"></i>
        			<div class="desc">
        				<h4>Incorporação</h4>
                        <p>Possuímos extenso conhecimento na área de incorporação para encontrar a melhor solução para cada negócio imobiliário. Venha investir ou permutar seu terreno conosco!</p>
        			</div>
        		</div>	
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-wrench service-icon"></i>
        			<div class="desc">
        				<h4>Construção</h4>
                        <p>Nossa equipe de engenharia está capacitada para atender suas necessidades construtivas, seja na área residencial, comercial ou industrial. Faça um orçamento conosco.</p>
        			</div>
        		</div>	
        	</div>
        	<div class="col-md-4">
        		<div class="service">
                    <i class="fa fa-pencil-square-o service-icon"></i>
        			<div class="desc">
        				<h4>Serviços</h4>
                        <p>Prestamos serviços na área de engenharia civil. Levantamentos topográficos, georreferenciamento de imóveis, retificações de área, locações e acompanhamento de obras.</p>
        			</div>
        		</div>	
        	</div>			    
    	</div>


    	<!-- Info Blokcs -->
    	<div class="row margin-bottom-30">
        	<!-- Welcome Block -->
    		<div class="col-md-8 md-margin-bottom-40">
    			<div class="headline"><h2>Bem vindo ao site da MShin</h2></div>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-responsive margin-bottom-20" src="/img/main/sinuheshin.jpg" alt="">
                    </div>
                    <div class="col-sm-8">
                        <p>Nosso objetivo é promover a incorporação imobiliária de empreendimentos que nos orgulhem. Queremos construir um país melhor, um tijolo de cada vez.</p>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> Responsabilidade</li>
                            <li><i class="fa fa-check color-green"></i> Qualidade de Vida</li>
                            <li><i class="fa fa-check color-green"></i> Respeito ao Meio Ambiente</li>
                            <li><i class="fa fa-check color-green"></i> Investimento Social</li>
                        </ul>                    
                    </div>
                </div>

                <blockquote class="hero-unify">
                    <p>"Gostamos de fazer as coisas bem feitas, com carinho, no tempo certo. Adoramos aprender, e ensinar quem está ao nosso redor. E é com essa postura que pretendemos conquistar o mercado." </p>
                    <small>Sinuhe Shin, Diretor Executivo</small>
                </blockquote>
            </div>


    	</div>






    </div><!--/container-->		
    <!-- End Content Part -->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <!-- About -->
                        <div class="col-md-3 md-margin-bottom-40">
                            <a href="/index"><img id="logo-footer" class="footer-logo" src="/img/logo2.png" alt=""></a>
                            <p>Uma construtora jovem que está chegando para mudar os conceitos no mercado imobiliário brasileiro</p>
                            <p>Eficiência e modernidade aliadas à tradição.</p>
                        </div><!--/col-md-3-->
                        <!-- End About -->




                        <!-- Link List -->
                        <div class="col-md-3 md-margin-bottom-40">
                            <div class="headline"><h2>Links Úteis</h2></div>
                            <ul class="list-unstyled link-list">
                                <li><a href="/index">Home</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="/empreendimentos">Empreendimentos</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="/contato">Contato</a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div><!--/col-md-3-->
                        <!-- End Link List -->

                        <!-- Address -->
                        <div class="col-md-3 map-img md-margin-bottom-40">
                            <div class="headline"><h2>Fale Conosco</h2></div>
                            <address class="md-margin-bottom-40">
                                Av. Santo Amaro, 3330, cj 72 - Brooklin Paulista <br />
                                São Paulo, SP - CEP: 04556-300<br />
                                Telefone: (11) 3294-7013 <br />
                                Celular: (11) 9-4746-1988 <br />
                                Email: <a href="mailto:sinuhe@mshin.com.br" class="">sinuhe@mshin.com.br</a>
                            </address>
                        </div><!--/col-md-3-->
                        <!-- End Address -->
                    </div>
                </div>
            </div><!--/footer-->

            <div class="copyright">
                <div class="container">
                    <div class="row">


                        <!-- Social Links -->
                        <div class="col-md-6">
                            <ul class="footer-socials list-inline">
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!-- End Social Links -->
                    </div>
                </div>
            </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->

<script type="text/javascript" src="plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="plugins/parallax-slider/js/jquery.cslider.js"></script>

<!-- JS Page Level -->           
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/plugins/parallax-slider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        App.initSliders();      
        ParallaxSlider.initParallaxSlider();
    });
</script>



</div>
</body>
</html>