<%- contentFor('css') %>

<link rel="stylesheet" href="/stylesheets/plugins/flexslider.css" type="text/css" media="screen">
<link rel="stylesheet" href="/stylesheets/plugins/plugins.css" type="text/css" media="screen">


<%- contentFor('breadcrumbs') %>

<h1 class="pull-left">Quadros da NBR 12.721</h1>
<ul class="pull-right breadcrumb">
    <li><a href="/index">Home</a></li>

    <li class="active">Quadros da NBR 12.721</li>
</ul>

<%- contentFor('contentpart') %>

<!--=== Content Part ===-->
<div class="container content">
    <!--=== About Me Img ===-->
    <div class="container content">
        <div class="row about-me margin-bottom-40">
            <div class="col-md-5 shadow-wrapper md-margin-bottom-20">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive" src="/img/pages/quadroII.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>NBR 12.721</h2>
                        <span>Histórico</span>
                    </div>
                </div>
                <p>Com a publicação da lei 4.591/64 que dispõe sobre o condomínio em edificiações e as incorporações imobiliárias,
                    foi atribuído à ABNT (Associação Brasileira de Normas Técnicas) a tarefa de criar normas para:</p>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i> Calcular os custos unitários de construção (CUB)</li>
                    <li><i class="color-green fa fa-check"></i> Execução de orçamentos de construção</li>
                    <li><i class="color-green fa fa-check"></i> Elaboração de memoriais descritivos da obra</li>
                </ul>
                <p>
                    Dessa forma foi criada a NB-140/65. No ano de 1993, foi publicada a "NBR 12.721/92 - Avaliação de custos unitários
                    e preparo de orçamento de construção para incorporação de edifícios em condomínio" onde foram atualizados os
                    projetos-padrão da antiga NB-140, e foi atualizada a moeda nacional.
                </p>
                <p>
                    Em 2007 entrou em vigor a NBR 12.721/2006 onde houve nova alteração nos projetos padrão, além de outras alterações
                    na estrutura, nas definições e nas informações apresentadas. Esta versão é a utilizada até hoje.
                </p>
                <br>
                <div class="overflow-h">
                    <div class="pull-left">
                        <span>Importância</span>
                    </div>
                </div>
                <p>
                    As principais funções dos quadros da NBR 12.721 são definir os critérios para o levantamento das áreas do condomínio
                    além de permitir o cálculo correto das áreas equivalentes em custo de construção.
                </p>
                <p>
                    A padronização destas informações
                    é de extrema importância no processo de incorporação de condomínios, pois permite a comparação entre custos de
                    empreendimentos diversos, regula a forma de se apresentar os custos da obra aos adquirentes, e regula também a
                    forma de apresentar as áreas que estão sendo vendidas aos interessados.
                </p>
                <br>
                <div class="overflow-h">
                    <div class="pull-left">
                        <span>Coeficientes de Equivalência</span>
                    </div>
                </div>
                <p>
                    Os coeficientes de equivalência de custo, são os índices que representam o custo real de construção de determinada área do
                    empreendimento em relação ao custo da área privativa padrão (CUB).
                </p>
                <p>
                    Então pode-se dizer que para toda área cujo custo seja igual ao custo de construção da área privativa padrão o coeficiente é
                    1. No caso de uma área que custe 50% do custo da área privativa padrão, seu coeficiente seria 0,5.
                </p>
                <br>
                <div class="overflow-h">
                    <div class="pull-left">
                        <span>Coeficientes de Proporcionalidade</span>
                    </div>
                </div>
                <p>
                    Os coeficientes de proporcionalidade, são os índices que representam a porcentagem que aquela unidade autônoma representa do
                    total do empreendimento.
                </p>
                <p>
                    Todas as áreas comuns do empreendimento são divididas de acordo com o coeficiente de proporcionalidade entre as unidades
                    autônomas.
                </p>
                <p>
                    Os coeficientes de proporcionalidade são amplamente utilizados pelos condomínios para definir a fração ideal das unidades
                    e então proceder com um rateio proporcional das despesas condominiais. A falta de atenção para esta definição no
                    momento da incorporação pode trazer diversos transtornos para os condôminos, seus administradores e para o incorporador.
                </p>
            </div>
        </div>
    </div>
    <!--=== End About Me Img ===-->

    <hr class="margin-bottom-20">

    <!-- Info Blcoks -->
    <div class="row">
        <h1 class="margin-bottom-40">Nossos Serviços:</h1>
    </div>
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-info-blocks fa fa-clock-o"></i>
            <div class="info-blocks-in">
                <h3>Prazo</h3>
                <p>Elaboramos seus quadros com os melhores prazos de entrega!</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-info-blocks fa fa-check"></i>
            <div class="info-blocks-in">
                <h3>Qualidade</h3>
                <p>Quadros feitos com atenção aos detalhes! Reduza as dores de cabeça na hora de registrar sua incorporação.</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-info-blocks fa fa-dollar"></i>
            <div class="info-blocks-in">
                <h3>Preços</h3>
                <p>Temos os melhores preços para atender as suas necessidades.</p>
            </div>
        </div>
    </div>
    <!-- End Info Blcoks -->

    <!-- Info Blcoks -->
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-info-blocks fa fa-users"></i>
            <div class="info-blocks-in">
                <h3>Equipe Qualificada</h3>
                <p>Nossos profissionais entendem profundamente de incorporação. Sabemos quais são suas necessidades e estamos prontos
                para te orientar!</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-info-blocks fa fa-thumbs-o-up"></i>
            <div class="info-blocks-in">
                <h3>Satisfação do Cliente</h3>
                <p>Nosso foco é a total satisfação do cliente com nossos serviços. Por isso estamos sempre inovando para melhorar.</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-info-blocks fa fa-comments-o"></i>
            <div class="info-blocks-in">
                <h3>Suporte Integral</h3>
                <p>Está com algum problema nos seus quadros? Estamos prontamente disponíveis para te atender. Sem enrolação!</p>
            </div>
        </div>
    </div>
    <!-- End Info Blcoks -->


    <hr class="margin-bottom-20">

    <!--Testimonials and Info-->
    <div class="row">
        <h1 class="margin-bottom-40">Depoimentos de Clientes:</h1>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="carousel slide testimonials testimonials-v1" id="testimonials-1">
                <div class="carousel-inner">
                    <div class="item active">
                        <p>"Contratei os serviços da MShin para elaborar os quadros da NBR 12.721 de meu condominio, fui muito bem
                            atendido e com rapidez. O registro de imóveis conferiu e deu tudo certo"</p>
                        <div class="testimonial-info">
                            <img class="rounded-x" src="/img/testimonials/aparecido.jpg" alt="">
                                <span class="testimonial-author">
                                    Aparecido Freire
                                    <em>Proprietário, Rede New Imóveis</em>
                                </span>
                        </div>
                    </div>
                    <div class="item">
                        <p>"Comecei a fazer os quadros da NBR 12.721 com a MShin e agora só faço com eles. O preço é ótimo, entregam rápido
                            e a qualidade do serviço e do atendimento é excelente."</p>
                        <div class="testimonial-info">
                            <img class="rounded-x" src="/img/testimonials/renato.jpg" alt="">
                                <span class="testimonial-author">
                                    Renato Gebaile Bianchi
                                    <em>Proprietário, GB Realizações Imobiliárias</em>
                                </span>
                        </div>
                    </div>
                    <div class="item">
                        <p> "Os serviços contratados junto a  Maschio Shin Construtora para orientação e elaboração do nosso projeto e os
                            quadros da NBR 12.721, foram rápidos, bem elaborados e com um valor justo, atendendo totalmente nossas expectativas."</p>
                        <div class="testimonial-info">
                            <img class="rounded-x" src="/img/testimonials/user.jpg" alt="">
                                <span class="testimonial-author">
                                    Wlademir Carmona
                                    <em>Diretor, Monte Alegre Paraíso Empreendimentos Imobiliários Ltda</em>
                                </span>
                        </div>
                    </div>

                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="#testimonials-1" class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#testimonials-1" class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <!--&lt;!&ndash; Bordered Funny Boxes &ndash;&gt;-->
            <!--<div class="funny-boxes funny-boxes-top-sea">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-4 funny-boxes-img">-->
                        <!--<img alt="" src="/img/new/img10.jpg" class="img-responsive">-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li><i class="fa fa-briefcase"></i> Dell, Google</li>-->
                            <!--<li><i class="fa fa-map-marker"></i> New York, US</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="col-md-8">-->
                        <!--<h2><a href="#">Turquoise Bordered Box</a></h2>-->
                        <!--<ul class="list-unstyled funny-boxes-rating">-->
                            <!--<li><i class="fa fa-star"></i></li>-->
                            <!--<li><i class="fa fa-star"></i></li>-->
                            <!--<li><i class="fa fa-star"></i></li>-->
                            <!--<li><i class="fa fa-star"></i></li>-->
                            <!--<li><i class="fa fa-star"></i></li>-->
                        <!--</ul>-->
                        <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum.</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; End Bordered Funny Boxes &ndash;&gt;-->
        </div>
    </div>
    <!--End Testimonials and Info-->

    <!-- Our Clients -->
    <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h2>Nossos Clientes:</h2></div>
        <ul class="slides">
            <li>
                <a href="http://www.redenewimoveis.com.br/">
                    <img src="/img/clients/redeNewPb.jpg" alt="" />
                    <img src="/img/clients/redeNewCor.jpg" class="color-img" alt="" />
                </a>
            </li>
            <li>
                <a href="http://www.gbrealizacoes.com.br/">
                    <img src="/img/clients/gbPb.jpg" alt="" />
                    <img src="/img/clients/gbCor.jpg" class="color-img" alt="" />
                </a>
            </li>
            <li>
                    <img src="/img/clients/monteAlegrePb.jpg" alt="" />
                    <img src="/img/clients/monteAlegreCor.jpg" class="color-img" alt="" />
            </li>
        </ul>
    </div><!--/flexslider-->
    <!-- End Our Clients -->
</div><!--/container-->
<!--=== End Content Part ===-->


<%- contentFor('javascript') %>
<script type="text/javascript" src="/js/plugins/jquery.flexslider.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
    });
</script>