<%- contentFor('css')%>

<link rel="stylesheet" href="/stylesheets/pages/page_empreendimentos.css">

<%- contentFor('breadcrumbs')%>

<h1 class="pull-left">Construtora MCMV</h1>
<ul class="pull-right breadcrumb">
    <li><a href="/index">Home</a></li>

    <li class="active">Construtora</li>
</ul>

<%- contentFor('contentpart')%>

<div class="container content">
    <!--=== About Me Img ===-->
    <div class="container content">
        <div class="row about-me margin-bottom-10">
            <div class="col-md-2 shadow-wrapper md-margin-bottom-20">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive" src="/img/pages/sgq.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Certificação PBQP-h</h2>
                        <span>Sistema de Gestão da Qualidade</span>
                    </div>
                </div>
                <p>Para realizar empreendimentos pelo programa "Minha Casa Minha Vida" a Caixa Econômica exige a inscrição no programa PBQP-h. As metas do programa são:</p>
                <ul class="list-unstyled">
                    <li><i class="color-green fa fa-check"></i> A melhoria da qualidade do habitat</li>
                    <li><i class="color-green fa fa-check"></i> Modernização produtiva</li>
                </ul>
                <p>
                    A busca por esses objetivos envolve um conjunto de ações, entre as quais se destacam: avaliação da conformidade de empresas de serviços e obras, melhoria da qualidade de materiais, formação e requalificação de mão-de-obra, normalização técnica, capacitação de laboratórios, avaliação de tecnologias inovadoras, informação ao consumidor e promoção da comunicação entre os setores envolvidos. Dessa forma, espera-se o aumento da competitividade no setor, a melhoria da qualidade de produtos e serviços, a redução de custos e a otimização do uso dos recursos públicos. O objetivo, a longo prazo, é criar um ambiente de isonomia competitiva, que propicie soluções mais baratas e de melhor qualidade para a redução do déficit habitacional no país, atendendo, em especial, a produção habitacional de interesse social.
                </p>
                <p>
                    A Construtora Maschio Shin participa do programa investindo em consultoria, auditorias internas e auditorias externas, podendo oferecer assim mais qualidade para sua obra, além de atender os requisitos exigidos pela Caixa Econômica para executar seu projeto "Minha Casa Minha Vida".
                </p>
                <br>
            </div>
        </div>
    </div>

    <div class="container content">
        <div class="row about-me margin-bottom-40">
            <div class="col-md-2 shadow-wrapper md-margin-bottom-20">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive" src="/img/pages/caixaEconomicaFederal.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="overflow-h">
                    <div class="pull-left">
                        <h2>Geric Caixa Econômica Federal</h2>
                        <span>Crédito para construção</span>
                    </div>
                </div>
                <p>O termo "Geric" é um apelido dado às empresas que possuem avaliação de crédito positiva junto à Caixa Econômica Federal para obtenção de recursos para financiamento de obras.</p>

                <p>
                    Este apelido surgiu devido essa análise ser feita pela "Geric - Gerência Nacional de Modelagem de Risco de Crédito de Operações de Pessoa Jurídica"
                </p>
                <p>
                    A Construtora Maschio Shin é uma construtora "gericada" estando apta a financiar sua obra através dos programas habitacionais da Caixa Econômica Federal.
                </p>
                <br>
            </div>
        </div>
    </div>
    <!--=== End About Me Img ===-->

    <hr class="margin-bottom-20">

    <!-- Info Blcoks -->
    <div class="row">
        <h1 class="margin-bottom-40">Nossos Serviços:</h1>
    </div>
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-info-blocks fa fa-clock-o"></i>
            <div class="info-blocks-in">
                <h3>Prazo</h3>
                <p>Entregamos sua obra dentro do cronograma estabelecido</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-info-blocks fa fa-check"></i>
            <div class="info-blocks-in">
                <h3>Qualidade</h3>
                <p>Obra com garantia pós entrega. Atendimento às Normas e ao PBQP-h.</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-info-blocks fa fa-dollar"></i>
            <div class="info-blocks-in">
                <h3>Preços</h3>
                <p>Temos os melhores preços para atender as suas necessidades.</p>
            </div>
        </div>
    </div>
    <!-- End Info Blcoks -->

    <!-- Info Blcoks -->
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-info-blocks fa fa-users"></i>
            <div class="info-blocks-in">
                <h3>Mão de Obra</h3>
                <p>Fazemos o recrutamento, treinamento, controle de uso de EPI's, registro, e toda documentação necessária em relação à mão de obra</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-info-blocks fa fa-thumbs-o-up"></i>
            <div class="info-blocks-in">
                <h3>Qualidade acessível</h3>
                <p>Oferecemos formas de estruturar seu negócio onde você poderá incorporar com qualidade sem prejudicar sua margem</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-info-blocks fa fa-comments-o"></i>
            <div class="info-blocks-in">
                <h3>Suporte Integral</h3>
                <p>Nós incorporamos para nós mesmo, sabemos das suas necessidades, conhecemos a CEF. Podemos te dar todo o suporte necessário para estruturar seu negócio.</p>
            </div>
        </div>
    </div>
    <!-- End Info Blcoks -->





</div><!--/container-->

<%- contentFor('javascript') %>


