<%- contentFor('css')%>

<link rel="stylesheet" href="/stylesheets/pages/page_empreendimentos.css">

<%- contentFor('breadcrumbs')%>

<h1 class="pull-left">Conheça nossos Empreendimentos</h1>
<ul class="pull-right breadcrumb">
    <li><a href="/index">Home</a></li>

    <li class="active">Empreendimentos</li>
</ul>

<%- contentFor('contentpart')%>

<div class="container content">
    <div class="row">
        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive" src="/img/bosquesItaquera/bosquesItaqueraNoturnaPreLancamento.jpg" alt="Perspectiva artística do empreendimento" />
                <div class="mask">
                    <h2>Condomínio Bosques de Itaquera</h2>
                    <p>Localizado a apenas 15 minutos de caminhada da Estação José Bonifácio este empreendimento charmoso com apenas 60 unidades te permite desfrutar do melhor de São Paulo. </p>
                    <a href="/residencial_bosques_itaquera" class="info">Saiba mais</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive" src="/img/saoSebastiao/perspectivaEmpreendimentoObrasAceleradas.jpg" alt="Perspectiva artística do empreendimento" />
                <div class="mask">
                    <h2>Residencial São Sebastião</h2>
                    <p>Localizado próximo ao centro de Cotia, este empreendimento de 44 unidades traz um conceito diferente, ao conciliar design e modernidade a um empreendimento econômico. </p>
                    <a href="/residencial_sao_sebastiao" class="info">Saiba mais</a>
                </div>
            </div>
        </div>

    </div>
</div>



<%- contentFor('javascript') %>


