<%- contentFor('css') %>

<%- contentFor('breadcrumbs') %>

            <h1 class="pull-left">FAQs</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index">Home</a></li>
                                <li class="active">FAQ</li>
            </ul>
<%- contentFor('contentpart') %>

    <!--=== Content Part ===-->
    <div class="container content">		
    	<div class="row">            
            <div class="col-md-9">
    			<!-- General Questions -->
                <div class="headline"><h2>Perguntas Frequentes</h2></div>
                <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    1. Ainda não temos perguntas! Nos envie uma mensagem que ficaremos felizes em lhe responder.
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Envie uma mensagem por <a href="contato">aqui</a>
                            </div>
                        </div>
                    </div>

                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                            <!--<h4 class="panel-title">-->
                                <!--<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">-->
                                    <!--2. Oliva pariatur cliche reprehenderit high life accusamus?-->
                                <!--</a>-->
                            <!--</h4>-->
                        <!--</div>-->
                        <!--<div id="collapseTwo" class="panel-collapse collapse">-->
                            <!--<div class="panel-body">-->
                                <!--<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>-->
                                <!--<ul class="list-unstyled">-->
                                    <!--<li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>-->
                                    <!--<li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>-->
                                    <!--<li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>-->
                                    <!--<li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>-->
                                <!--</ul>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                            <!--<h4 class="panel-title">-->
                                <!--<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">-->
                                    <!--3. Enim eiusmod high life accusamus terry richardson?-->
                                <!--</a>-->
                            <!--</h4>-->
                        <!--</div>-->
                        <!--<div id="collapseThree" class="panel-collapse collapse">-->
                            <!--<div class="panel-body">-->
                                <!--<p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Food truck quinoa nesciunt laborum eiusmodolf moon tempor, sunt aliqua put a bird.</p>-->
                                <!--<ul class="list-unstyled">-->
                                    <!--<li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>-->
                                    <!--<li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>-->
                                <!--</ul>                            -->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                            <!--<h4 class="panel-title">-->
                                <!--<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">-->
                                    <!--4. Livil anim keffiyeh helvetica craft beer labore wesde brunch?-->
                                <!--</a>-->
                            <!--</h4>-->
                        <!--</div>-->
                        <!--<div id="collapseFour" class="panel-collapse collapse">-->
                            <!--<div class="panel-body">-->
                                <!--Olif moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                            <!--<h4 class="panel-title">-->
                                <!--<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">-->
                                    <!--5. Leggings occaecat craft beer farmto tableraw denim?-->
                                <!--</a>-->
                            <!--</h4>-->
                        <!--</div>-->
                        <!--<div id="collapseFive" class="panel-collapse collapse">-->
                            <!--<div class="panel-body">-->
                                <!--<p>Keffiyeh anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>-->
                                <!--<ul class="list-unstyled">-->
                                    <!--<li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>-->
                                    <!--<li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>-->
                                    <!--<li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>-->
                                    <!--<li><i class="fa fa-check color-green"></i> Donec id elit non mi porta gravida at eget metus..</li>-->
                                    <!--<li><i class="fa fa-check color-green"></i> Fusce dapibus, tellus ac cursus comodo egetine..</li>-->
                                    <!--<li><i class="fa fa-check color-green"></i> Food truck quinoa nesciunt laborum eiusmod runch..</li>-->
                                <!--</ul>                            -->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                            <!--<h4 class="panel-title">-->
                                <!--<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">-->
                                    <!--6. Keffiyeh anim keffiyeh helvetica craft beer labore wesse?-->
                                <!--</a>-->
                            <!--</h4>-->
                        <!--</div>-->
                        <!--<div id="collapseSix" class="panel-collapse collapse">-->
                            <!--<div class="panel-body">-->
                                <!--Helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Brunch sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                            <!--<h4 class="panel-title">-->
                                <!--<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">-->
                                    <!--7. Helvetica craft beer labore wes anderson cred nesciu ntlife richardson?-->
                                <!--</a>-->
                            <!--</h4>-->
                        <!--</div>-->
                        <!--<div id="collapseSeven" class="panel-collapse collapse">-->
                            <!--<div class="panel-body">-->
                                <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div><!--/acc-v1-->
                <!-- End General Questions -->


    		</div><!--/col-md-9-->

    		<div class="col-md-3">
                <!-- Contacts -->
                <div class="headline"><h2>Contatos</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="#"><i class="fa fa-home"></i>Av. Santo Amaro, 3330, cj 72 - Brooklin Paulista</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>sinuhe@mshin.com.br</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>(11) 9-4746-1988</a></li>
                    <li><a href="#"><i class="fa fa-globe"></i>http://www.mshin.com.br</a></li>
                </ul>

                <!-- Business Hours -->
                <div class="headline"><h2>Horário de Funcionamento</h2></div>
                <ul class="list-unstyled margin-bottom-30">
                    <li><strong>Segunda-Sexta:</strong> 9:00 - 18:00</li>
                    <li><strong>Sábados e Domingos:</strong> Fechados</li>
                </ul>

                <!-- Why we are? -->
                <div class="headline"><h2>Quem somos nós?</h2></div>
                <p>Nossa empresa é uma construtora inovadora, que traz eficiência para o mercado imobiliário brasileiro.</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i> Satisfação aos clientes</li>
                    <li><i class="fa fa-check color-green"></i> Rentabilidade aos investidores</li>
                    <li><i class="fa fa-check color-green"></i> Respeito à sociedade</li>
                </ul>
                <!-- End Info Block -->


            </div><!--/col-md-3-->
        </div><!--/row-->
    </div><!--/container-->		
    <!--=== End Content Part ===-->

<%- contentFor('javascript') %>

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>
