<%- contentFor('css') %>

<%- contentFor('breadcrumbs') %>

<h1 class="pull-left">Página em Construção</h1>
<ul class="pull-right breadcrumb">
    <li><a href="/index">Home</a></li>

    <li class="active">Página em Construção</li>
</ul>

<%- contentFor('contentpart') %>

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <h1> <i class="fa fa-gear fa-spin color-green"></i> Aguarde, esta página está em construção</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


        </div>
    </div>
</div>


<%- contentFor('javascript') %>