<%- contentFor('css') %>
<link rel="stylesheet" href="/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.css">
<link rel="stylesheet" href="/stylesheets/plugins/line-icons.css">
<link rel="stylesheet" href="/stylesheets/plugins/font-awesome.min.css">

<%- contentFor('breadcrumbs') %>

<h1 class="pull-left">Condomínio Bosques de Itaquera</h1>
<ul class="pull-right breadcrumb">
    <li><a href="/index">Home</a></li>
    <li><a href="/empreendimentos">Empreendimentos</a></li>
    <li class="active">Condomínio Bosques de Itaquera</li>
</ul>

<%- contentFor('contentpart') %>

<!--=== Content Part ===-->
<div class="container content">
    <div class="row portfolio-item margin-bottom-50">
        <!-- Content Info -->
        <div class="col-md-6 md-margin-bottom-40">
            <h2>Descrição do empreendimento</h2>

            <p>Empreendimento localizado a apenas 15 minutos de caminhada da estação José Bonifácio. 60 unidades com o melhor lazer da região. Piscina, churrasqueira. Apartamentos de 2 e 3 dormitórios. Apartamentos garden com quintal.</p>

            <div class="row portfolio-item1">
                <div class="col-xs-6">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-bed color-green"></i> 2 e 3 Dormitórios</li>
                        <li><i class="fa fa-car color-green"></i> Vaga de Garagem</li>
                        <li><i class="fa fa-child color-green"></i> Piscina</li>
                        <li><i class="fa fa-group color-green"></i> Churrasqueira</li>


                    </ul>
                </div>
                <div class="col-xs-6">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-shopping-cart color-green"></i> Próximo à mercados</li>
                        <li><i class="fa fa-university color-green"></i> Próximo à escola</li>
                        <li><i class="fa fa-train color-green"></i> Próximo ao trem</li>
                        <li><i class="fa fa-leaf color-green"></i> Projeto sustentável</li>
                    </ul>
                </div>
            </div>
            <a href="/contato" class="btn-u btn-u-large">FAÇA JÁ SUA RESERVA</a>
        </div>
        <!-- End Content Info -->

        <!-- Carousel -->
        <div class="col-md-6">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="Perspectiva artística do empreendimento" src="/img/bosquesItaquera/bosquesItaqueraNoturna.jpg">

                        <div class="carousel-caption">
                            <p>Vista panorâmica noturna do empreendimento.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Perspectiva artística da fachada" src="/img/bosquesItaquera/bosquesItaqueraFachada.jpg">

                        <div class="carousel-caption">
                            <p>Perspectiva artística da fachada</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Perspectiva artística da piscina" src="/img/bosquesItaquera/bosquesItaqueraPiscina.jpg">

                        <div class="carousel-caption">
                            <p>Perspectiva artística da piscina.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Perspectiva artística da churrasqueira" src="/img/bosquesItaquera/bosquesItaqueraChurrasqueira.jpg">

                        <div class="carousel-caption">
                            <p>Perspectiva artística da churrasqueira.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Perspectiva 3D da sala de estar" src="/img/bosquesItaquera/bosquesItaqueraSala.jpg">

                        <div class="carousel-caption">
                            <p>Perspectiva 3D da sala de estar.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img alt="Perspectiva 3D do apartamento de 2 dormitórios tipo" src="/img/bosquesItaquera/plantaDoisDormitorios.jpg">

                        <div class="carousel-caption">
                            <p>Perspectiva 3D do apartamento de 2 dormitórios tipo.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Perspectiva 3D do apartamento de 3 dormitórios tipo" src="/img/bosquesItaquera/plantaTresDormitorios.jpg">

                        <div class="carousel-caption">
                            <p>Perspectiva 3D do apartamento de 3 dormitórios tipo.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Perspectiva 3D do pavimento tipo" src="/img/bosquesItaquera/plantaPavimentoTipo.jpg">

                        <div class="carousel-caption">
                            <p>Perspectiva 3D do pavimento tipo.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Implantação do Condomínio" src="/img/bosquesItaquera/bosquesItaqueraImplantacao.jpg">

                        <div class="carousel-caption">
                            <p>Implantação do Condomínio.</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- End Carousel -->
    </div>
    <!--/row-->

    <div class="tag-box tag-box-v2">
        <p>"Venha nos conhecer"</p>
    </div>

    <div class="margin-bottom-20 clearfix"></div>

    <!--<div class="row portfolio-item margin-bottom-50">-->
        <!--<h2>Galeria de Fotos</h2>-->
    <!--</div>-->


</div><!--/container-->
<!--=== End Content Part ===-->



<%- contentFor('javascript') %>

<script type="text/javascript" src="/js/plugins/jquery.cubeportfolio.min.js"></script>
<script type="text/javascript" src="/js/plugins/cube-portfolio.js"></script>
<script type="text/javascript" src="/js/plugins/jquery-migrate.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>