<%- contentFor('css') %>
<link rel="stylesheet" href="/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.css">
<link rel="stylesheet" href="/stylesheets/plugins/line-icons.css">
<link rel="stylesheet" href="/stylesheets/plugins/font-awesome.min.css">

<%- contentFor('breadcrumbs') %>

<h1 class="pull-left">Residencial São Sebastião</h1>
<ul class="pull-right breadcrumb">
    <li><a href="/index">Home</a></li>
    <li><a href="/empreendimentos">Empreendimentos</a></li>
    <li class="active">Residencial São Sebastião</li>
</ul>

<%- contentFor('contentpart') %>

<!--=== Content Part ===-->
<div class="container content">
    <div class="row portfolio-item margin-bottom-50">
        <!-- Content Info -->
        <div class="col-md-6 md-margin-bottom-40">
            <h2>Descrição do empreendimento</h2>

            <p>Este charmoso empreendimento com apenas 44 apartamentos, fica localizado em Cotia, no bairro do portão,
                dentro do Condomínio Residencial Rio das Pedras. O local oferece total comodidade e segurança, tanto
                pelo acesso único, quanto pela privilegiada localização.</p>

            <div class="row portfolio-item1">
                <div class="col-xs-6">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-bed color-green"></i> 2 Dormitórios</li>
                        <li><i class="fa fa-car color-green"></i> Vaga de Garagem</li>
                        <li><i class="fa fa-motorcycle color-green"></i> Vagas de Moto</li>
                        <li><i class="fa fa-bicycle color-green"></i> Bicicletário</li>


                    </ul>
                </div>
                <div class="col-xs-6">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-shopping-cart color-green"></i> Próximo à mercados</li>
                        <li><i class="fa fa-university color-green"></i> Próximo à escola</li>
                        <li><i class="fa fa-tree color-green"></i> Paisagismo por Amaury Neto</li>
                        <li><i class="fa fa-leaf color-green"></i> Projeto sustentável</li>
                    </ul>
                </div>
            </div>
            <a href="/contato" class="btn-u btn-u-large">FAÇA JÁ SUA RESERVA</a>
        </div>
        <!-- End Content Info -->

        <!-- Carousel -->
        <div class="col-md-6">
            <div class="carousel slide carousel-v1" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="Perspectiva artística do empreendimento" src="/img/saoSebastiao/perspectivaEmpreendimento.jpg">

                        <div class="carousel-caption">
                            <p>Vista panorâmica do empreendimento.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Perspectiva artística do jardim dos fundos" src="/img/saoSebastiao/perspectivaJardim.jpg">

                        <div class="carousel-caption">
                            <p>Perspectiva do jardim dos fundos</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Perspectiva artística da fachada" src="/img/saoSebastiao/perspectivaFachada.jpg">

                        <div class="carousel-caption">
                            <p>Perspectiva artística da fachada.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Planta humanizada final 2" src="/img/saoSebastiao/aptoFinal2.jpg">

                        <div class="carousel-caption">
                            <p>Planta Humanizada Aptos Final 2.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Planta humanizada final 4" src="/img/saoSebastiao/aptoFinal4.jpg">

                        <div class="carousel-caption">
                            <p>Planta Humanizada Aptos Final 4.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Planta humanizada final 6" src="/img/saoSebastiao/aptoFinal6.jpg">

                        <div class="carousel-caption">
                            <p>Planta Humanizada Aptos Final 6.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Planta humanizada final 7" src="/img/saoSebastiao/aptoFinal7.jpg">

                        <div class="carousel-caption">
                            <p>Planta Humanizada Aptos Final 7.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="Planta humanizada do térreo" src="/img/saoSebastiao/aptoTerreo.jpg">

                        <div class="carousel-caption">
                            <p>Planta Humanizada Aptos Térreo.</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a data-slide="next" href="#myCarousel" class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- End Carousel -->
    </div>
    <!--/row-->

    <div class="tag-box tag-box-v2">
        <p>"Este projeto irá te surpreender"</p>
    </div>

    <div class="margin-bottom-20 clearfix"></div>

    <div class="row portfolio-item margin-bottom-50">
        <h2>Galeria de Fotos</h2>
    </div>

    <div class="container">
        <div class="content">
            <div class="fusion-portfolio wrapper-portfolio cbp-4-col cbp-caption-4-col">

                <div id="grid-container" class="cbp-l-grid-gallery">
                    <ul>
                        <li class="cbp-item motion">
                            <a href="/img/fotosSaoSebastiao/0001.jpg" class="cbp-caption cbp-lightbox" data-title="Title 1">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/img/fotosSaoSebastiao/0001.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item motion design">
                            <a href="/img/fotosSaoSebastiao/0002.jpg" class="cbp-caption cbp-lightbox" data-title="Title 2">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/img/fotosSaoSebastiao/0002.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item illustration">
                            <a href="/img/fotosSaoSebastiao/0003.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/img/fotosSaoSebastiao/0003.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item illustration">
                            <a href="/img/fotosSaoSebastiao/0004.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/img/fotosSaoSebastiao/0004.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item illustration">
                            <a href="/img/fotosSaoSebastiao/0005.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/img/fotosSaoSebastiao/0005.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item illustration">
                            <a href="/img/fotosSaoSebastiao/0006.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/img/fotosSaoSebastiao/0006.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item illustration">
                            <a href="/img/fotosSaoSebastiao/0007.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/img/fotosSaoSebastiao/0007.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item illustration">
                            <a href="/img/fotosSaoSebastiao/0008.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/img/fotosSaoSebastiao/0008.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item illustration">
                            <a href="/img/fotosSaoSebastiao/0009.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/img/fotosSaoSebastiao/0009.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item illustration">
                            <a href="/img/fotosSaoSebastiao/0010.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/img/fotosSaoSebastiao/0010.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item illustration">
                            <a href="/img/fotosSaoSebastiao/0011.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/img/fotosSaoSebastiao/0011.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="cbp-item illustration">
                            <a href="/img/fotosSaoSebastiao/0012.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">
                                <div class="cbp-caption-defaultWrap">
                                    <img src="/img/fotosSaoSebastiao/0012.jpg" alt="" width="100%">
                                </div>
                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-alignCenter">
                                        <div class="cbp-l-caption-body">
                                            <div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0013.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0013.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0014.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0014.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0015.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0015.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0016.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0016.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0017.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0017.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0018.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0018.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0019.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0019.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0020.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0020.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0021.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0021.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0022.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0022.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0023.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0023.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0024.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0024.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0025.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0025.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0026.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0026.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0027.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0027.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0028.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0028.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0029.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0029.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0030.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0030.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0031.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0031.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0032.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0032.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0033.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0033.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0034.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0034.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0035.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0035.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0036.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0036.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0037.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0037.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0038.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0038.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0039.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0039.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0040.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0040.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0041.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0041.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0042.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0042.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0043.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0043.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0044.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0044.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0045.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0045.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0046.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0046.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0047.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0047.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0048.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0048.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0049.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0049.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0050.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0050.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0051.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0051.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0052.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0052.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0053.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0053.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0054.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0054.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0055.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0055.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0056.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0056.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0057.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0057.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0058.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0058.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0059.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0059.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0060.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0060.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="cbp-item illustration">-->
                            <!--<a href="/img/obra/0061.jpg" class="cbp-caption cbp-lightbox" data-title="Title 3">-->
                                <!--<div class="cbp-caption-defaultWrap">-->
                                    <!--<img src="/img/obra/0061.jpg" alt="" width="100%">-->
                                <!--</div>-->
                                <!--<div class="cbp-caption-activeWrap">-->
                                    <!--<div class="cbp-l-caption-alignCenter">-->
                                        <!--<div class="cbp-l-caption-body">-->
                                            <!--<div class="cbp-l-caption-icon"><i class="fa fa-search"></i></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div><!--/End Wrapper Portfolio-->


        </div>
    </div>



</div><!--/container-->
<!--=== End Content Part ===-->



<%- contentFor('javascript') %>

<script type="text/javascript" src="/js/plugins/jquery.cubeportfolio.min.js"></script>
<script type="text/javascript" src="/js/plugins/cube-portfolio.js"></script>
<script type="text/javascript" src="/js/plugins/jquery-migrate.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
    });
</script>