<%- contentFor('css') %>

<%- contentFor('breadcrumbs') %>

<h1 class="pull-left">Área Restrita</h1>
<ul class="pull-right breadcrumb">
    <li><a href="/index">Home</a></li>
    <li><a href="/restritoadm">Área Restrita</a></li>
    <li class="active">Ferramentas</li>
</ul>

<%- contentFor('contentpart') %>


<div class="col-md-9">
    <!--Profile Body-->
    <div class="profile-body">
        <!--Projects-->
        <div class="row">
            <div class="col-sm-6">
                <div class="easy-block-v1">
                    <a href="/nbr12721tela"><img class="img-responsive" src="/img/adm/nbr12721.jpg" alt=""></a>

                    <div class="easy-block-v1-badge rgba-red">Incorporação</div>
                </div>
                <div class="projects">
                    <h2>Quadros NBR 12.721</h2>
                    <ul class="list-unstyled list-inline blog-info-v2">
                        <li>Por: <a class="color-green" href="#">Sinuhe Shin</a></li>
                        <li><i class="fa fa-clock-o"></i> 20/05/2015</li>
                    </ul>
                    <p>Preencha o formulário com as informações solicitadas, e a ferramenta irá gerar automaticamente
                        seus quadros da NBR 12.721 para impressão ou para salvar o arquivo como PDF.</p>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="easy-block-v1">
                    <a href="/calculodoc"><img class="img-responsive" src="/img/adm/calculadora.jpg" alt=""></a>

                    <div class="easy-block-v1-badge rgba-red">Incorporação</div>
                </div>
                <div class="projects">
                    <h2>Calculadora Documentação</h2>
                    <ul class="list-unstyled list-inline blog-info-v2">
                        <li>Por: <a class="color-green" href="#">Sinuhe Shin</a></li>
                        <li><i class="fa fa-clock-o"></i> 29/08/2015</li>
                    </ul>
                    <p>Calcula os valores de ITBI e Registro imobiliário.</p>

                </div>
            </div>
        </div>
    </div>
</div>

<%- contentFor('javascript') %>
