<%- contentFor('css') %>

<%- contentFor('breadcrumbs') %>

            <h1 class="pull-left">Área Restrita</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/index">Home</a></li>
                <li><a href="/restritoadm">Área Restrita</a></li>
                <li class="active">Perfil</li>
            </ul>

<%- contentFor('contentpart') %>



<%- contentFor('javascript') %>